services:
  zookeeper:
    image: zookeeper:latest
    ports:
      - "2181:2181"

  kafka:
    image:  wurstmeister/kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9094:9094"   # host ke liye outside listener
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INSIDE://0.0.0.0:9092,OUTSIDE://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9092,OUTSIDE://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      # optional: first-run pe topic create karna ho
      KAFKA_CREATE_TOPICS: "demo-topic:1:1"
      # KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS: 600000 

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
  redis-commander:  
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"


  fastapi:
    build: .
    volumes:
      - ./app:/code/app
    depends_on:
      - kafka
      - redis
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
